<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>员工管理系统 - 查看员工详情</title>
</head>
<body>
  <h1>查看员工详情</h1>
  <ul>
    <li>姓名：<%= item.sname %></li>
    <li>工号：<%= item.sno %></li>
    <li>性别：<%= item.sgender %></li>
    <li>生日：<%= item.sbirthday %></li>
    <li>电话：<%= item.sphone %></li>
    <li>地址：<%= item.saddr %></li>
    <li>职能：<%= item.smajor %></li>
  </ul>
</body>
</html>